# Datenordner (überall im Projekt)
**/annotated_previews/
**/raw_training_data/
**/Archiv_raw_training_data/
**/YOLO_Dataset/
Training/trained/

# Virtuelle Umgebungen und YOLO-Logs
yolo-env/
runs/

# Große Dateien (Modelle und Backups)
*.pt
*.zip
*.onnx

# System-Dateien
.DS_Store
__pycache__/